<div class="col-md-10 offset-md-1" style="background-color: #fff;margin-top: 25px;padding:20px;">

<div>
    <div>
        <h1 style="margin: 1;font-size: 85px;font-weight: 300;text-align:center"
        >RentCar CR</h1>
        <br>
        <h3>Seleccione la acci칩n que desea realizar:</h3>
        <br>



        <div class="form-row">
            <div class="col-md-6">
                <h3>Vehiculos</h3>
                <a href="/vehiculo">
                <button class="buttonI"><span>A침adir</span></button>
                </a>
                <a href="/vehiculo/list">
                <button class="buttonI"><span>Ver Todos</span></button>
                </a>
            </div>

            <div class="col-md-6">
                <h3>Clientes</h3>
                <a href="/cliente">
                <button class="buttonC"><span>A침adir</span></button>
                </a>
                <a href="/cliente/list">
                <button class="buttonC"><span>Ver Todos</span></button>
                </a>
            </div>
        </div>
        <br><br>

        <div class="form-row">
            <div class="col-md-6">
                <h3>Rentas</h3>
                <a href="/vehiculo">
                <button class="buttonR"><span>Generar</span></button>
                </a>
                <a href="/vehiculo/list">
                <button class="buttonR"><span>Ver Todas</span></button>
                </a>
            </div>

            <div class="col-md-6">
                <h3>Consultas</h3>
                <a href="/vehiculo">
                <button class="buttonQ"><span>A침adir</span></button>
                </a>
                <a href="/vehiculo/list">
                <button class="buttonQ"><span>Ver Todos</span></button>
                </a>
            </div>
        </div>

    </div>
      
</div>
</div>

