<div class="col-md-7 offset-md-1" style="background-color: #fff;margin-top: 25px;padding:20px;">

<h3>Búsqueda de vehículo por placa</h3>

<form action="/busqueda" method="POST"autocomplete="off">

    <div class='form-group col-md-6'>
            <label>Placa </label>
            <input type="number"class="form-control"name="placa" required>
    </div>
    
    <div class="form-group">
        <button type="submit" class="btn btn-info"><i class="fa fa-database"></i>Buscar</button>
        <a class="btn btn-secondary" href="/vehiculo/list"><i class="fa fa-list-alt"></i> Ver Todos</a>
    </div>
</form>
<a href="/">
<button class="btn btn-secondary" style="background-color:blueviolet"><span>Volver</span></button>
</a>
</div>